/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /* Element Styles */

  img {
    max-width: 100%;
  }
  
  img:hover{
    opacity: 0.8;
        -moz-box-shadow:    3px 3px 5px 6px #ccc;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc;
        box-shadow:         2px 2px 6px 1px #000;
    }


  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    padding: 10px 0px 10px 0px;
    text-align: left;
    line-height: 1em;

  }
  
  h2 {}
  
  h3 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    padding: 10px 0px 10px 0px;
    text-align: left;
    line-height: 1em;
  }


  h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2em;
    padding: 30px;
    text-align: center;
    line-height: 1em;
  }

  a{
    color: slategrey;
    text-decoration: none
}

a:hover{
color: lightgray;
}

.portfolio-link{
  color:white
}

.bullet_list{
  list-style-type: square;
  list-style-position: inside;
}


  /* ---- layout ---- */

  .main-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  .container {
    margin: 0 20px;
    max-width: 90%;
  }
  
  section {
    margin-bottom: 20px;
    padding-top: 20px;
  }

/* section:nth-of-type(even){
  background: lightblue
} */

.main-navigation ul li{
    display:inline-block
}

.inline-list li{
    display: inline-block;
}

.portfolio-list li{
    width: 60%
}
  
  /* ---- components ---- */
  
/* Button */
.btn{
display: inline-block;
background: black;
color: white;
font-weight: 500;
padding: 2em;
border-radius: 4px;
/* transition: all .5s ease;
animation-name: blink;
animation-duration: .4s;
animation-direction: alternate;
animation-iteration-count: infinite; */
}

.btn:hover{
  background: slategray;
  color: orangered;
  /* transition: all .5s ease; */

}

  /*header*/

.page-header {
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 1px 30px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;  
}

.page-header h1{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.main-navigation{
  opacity: 1;
  transition: opacity 2s ease-in;
  height: 70px;

  }
  .main-navigation-list{
    height: 100%;
    display: flex;
    align-items: center;
  }

  .main-navigation-list *{
    height: 100%;
    display: flex;
    align-items: center;
  }
  
.page-header a{
  color:black;
  padding: 5px 10px;
}

.page-header a:hover{
  transition: all .3s ease-in-out;
  background: slategrey;
  color: white;

}

/* Main */

/* Banner */

.banner {
  height: 100vh;
  color:  white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    background: url('../images/Macbook.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2.5em;
  line-height: 2em;
}



.banner h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1em;

}

/* Portfolio Section */

.flex-list {
  display: flex;
  flex-wrap: wrap;
}

.flex-list li{
  flex-basis: 100%;
  position: relative;
}

.portfolio-title {
  position: absolute;
  left: 50%;
  Top: 50%;
  border: 2px solid white;
  transform: translate(-50%, -50%);

}

/* Portfolio Grid */
.grid-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 10px;
}

.grid-list li{
position: relative;

}
.grid-list img{
  display: block;
}

/* Background */



/* Skills */

.grid-skills{
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr
}

.skills-list{
list-style-type: square;
}

/* Friends */

/* Connect */

#connect{
  text-align: center;
  padding-bottom: 30px;
}

/* footer */

footer {
  background:white;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
  width: 100%;
}

.contact-text{
  display: flex;
  flex-basis: 100%;
  justify-content: center
  }

/* .footer-icons{
display: flex;
flex-basis: 25%;
justify-content: left
}

.footer-text{
  display: flex;
  flex-basis: 50%;
  justify-content: center
  }

.footer-copyright{
    display: flex;
    flex-basis: 25%;
    justify-content: right;
    } */



/* video */

.videos{
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-wrapper {
  width: 100%;
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



  /* ---- section ---- */

.section-intro {
  text-align: left;
  max-width: 100%;
  margin: 5px auto 30px;
}
  
  section#portfolio {
    // ...
  }
  
  /* Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {} */
   

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    
    .flex-list li {
      flex-basis: 50%;
    }


  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
      .container{
          margin: 0 auto;
      }
   
    
      
  
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  
  }


/* Animate function */

@keyframes blink {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}

}

@keyframes bounce {
  0%{
    transform: scale(0.1);
    opacity: 0
  }
  60%{
    transform: scale(1.9);
    opacity: 1
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}